//colors

$black: #000000;
$white: #ffffff;
$amaranth: #ee3d48;
$godgray: #131313;
$alabaster: #fafafa;
$blackhaze: #f1f2f2;
$dovegrey: #6a6a6a;
$mischka: #d5dae0;
$gallery: #ebebeb;
$silver: #c2c2c2;
$oslogray: #939598;
$mercury: #e6e6e6;
