@import '../../sass/_mixins';
@import '../../sass/_variables';

.promo {
  display: flex;
  min-height: 253px;
}

.promo__container {
  @include container;
}

.promo__content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  margin-top: 11px;
  border: 3px solid $amaranth;
  border-radius: 8px;

  &::before {
    content: '';
    position: absolute;
    top: -12px;
    right: -11px;
    width: 82px;
    height: 44px;
    background-image: url('../img/rounds.png');
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -71px;
    left: -27px;
    width: 164px;
    height: 185px;
    background-image: url('../img/ellipse.png');
  }
}

.promo__img {
  position: relative;
  z-index: 2;
  width: 315px;
  height: 188px;
}

.promo__play-btn {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  display: flex;
  width: 70px;
  height: 70px;
  padding: 0;
  background-color: $white;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $amaranth;
  }
}

.promo__play-btn-icon {
  fill: $amaranth;
  stroke: $amaranth;

  .promo__play-btn:hover &,
  .promo__play-btn:focus & {
    fill: $white;
    stroke: $white;
  }
}
