.main {
  display: flex;
  flex-direction: column;
}

.main__promo,
.main__page-title {
  margin-bottom: 20px;
}

.main__seo {
  margin-bottom: 30px;
}

.main__advantages {
  margin-bottom: 80px;
}

.main__catalog {
  margin-bottom: 62px;
}

.main__faq {
  margin-bottom: 51px;
}
.main__news {
  margin-bottom: 60px;
}
