.main {
  display: flex;
  flex-direction: column;
}

.main__promo,
.main__page-title,
.main__seo {
  margin-bottom: 20px;
}

.main__advantages {
  margin-bottom: 80px;
}

.main__catalog {
  margin-bottom: 62px;
}
